In [3]:
import pandas as pd 
import numpy as np 

data=pd.read_csv('tested.csv')
data.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,0,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,0,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,0,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,0,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,1,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,0,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,0,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,1,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,1,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C

In [6]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [8]:
data['Age'].fillna(round(data['Age'].mean()),inplace=True)

In [11]:
data.fillna(method='ffill',inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_23804\286314875.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method='ffill',inplace=True)

In [21]:
data['Cabin'].fillna((data['Cabin'].mode()[0]),inplace=True)

In [22]:
data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [16]:
data.to_csv('new_tested_data.csv')

In [ ]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Set page config
st.set_page_config(page_title="Data Dashboard", layout="wide")

# Title
st.title("üìä Data Exploration Dashboard")

# Upload the file or load default
uploaded_file = "new_tested_data.csv"
df = pd.read_csv(uploaded_file)

# Show raw data
with st.expander("üîç Preview Dataset"):
    st.dataframe(df)

# Basic stats
st.header("üìà Basic Statistics")

col1, col2, col3 = st.columns(3)
with col1:
    st.metric("Total Rows", len(df))
with col2:
    st.metric("Total Columns", len(df.columns))
with col3:
    st.metric("Missing Values", df.isnull().sum().sum())

# Show column-wise nulls
if df.isnull().sum().sum() > 0:
    st.subheader("üßº Missing Data by Column")
    st.dataframe(df.isnull().sum().reset_index().rename(columns={'index': 'Column', 0: 'Missing Count'}))

# Filter by column
st.sidebar.header("üîé Filter Data")

for col in df.select_dtypes(include=['object', 'category']).columns:
    unique_vals = df[col].dropna().unique()
    selected_val = st.sidebar.multiselect(f"Filter by {col}", options=unique_vals)
    if selected_val:
        df = df[df[col].isin(selected_val)]

# Numeric summary
st.subheader("üìä Numeric Summary")
st.dataframe(df.describe())

# Visualizations
st.subheader("üìâ Visualizations")

numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

if numeric_cols:
    col_x = st.selectbox("Choose X-axis", options=numeric_cols)
    col_y = st.selectbox("Choose Y-axis", options=numeric_cols, index=1 if len(numeric_cols) > 1 else 0)

    chart_type = st.radio("Choose Chart Type", options=['Scatterplot', 'Histogram', 'Boxplot'])

    fig, ax = plt.subplots()

    if chart_type == 'Scatterplot':
        sns.scatterplot(data=df, x=col_x, y=col_y, ax=ax)
    elif chart_type == 'Histogram':
        sns.histplot(df[col_x], kde=True, ax=ax)
    elif chart_type == 'Boxplot':
        sns.boxplot(x=df[col_x], ax=ax)

    st.pyplot(fig)

else:
    st.warning("No numeric columns found for visualization.")

# Footer
st.markdown("---")
st.markdown("üë®‚Äçüíª Built with Streamlit | üìÅ File: `new_tested_data.csv`")